html, body {
  margin: 0;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif
}

header{
  margin-top: 0;
  display: flex;
  align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  min-width: 300px;
  max-width: 100%;
  max-height: 75px;
  background-color: #efbcac;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.user-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 200px;
  max-height: inherit;
  margin-right: 10px;
}

.profile-picture{
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
}

.body-container{
  display: flex;
  align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer{
  font-size: 13px;
}